.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.rectangle8 {
  position: absolute;
  left: 45px;
  top: -4px;
  width: 1440px;
  height: 700px;
  background-color: #d9d9d9;
}
.rectangle10 {
  position: absolute;
  left: 0;
  top: -4px;
  width: 1440px;
  height: 700px;
  background-color: #181818;
}
.rectangle11 {
  position: absolute;
  left: 0;
  top: -4px;
  width: 1440px;
  height: 1721px;
  background-color: #181818;
}
.ellipse {
  position: absolute;
  left: -49px;
  top: -123px;
  width: 449px;
  height: 449px;
  overflow: visible;
  filter: blur(150px);
}
.icon {
  width: 100%;
  height: 100%;
}
.ellipse1 {
  position: absolute;
  left: 1284px;
  top: 225px;
  width: 341px;
  height: 441px;
  overflow: visible;
  filter: blur(150px);
}
.icon2 {
  width: 100%;
  height: 100%;
}
.ellipse2 {
  position: absolute;
  left: 495px;
  top: 681px;
  width: 449px;
  height: 449px;
  overflow: visible;
  filter: blur(150px);
}
.icon3 {
  width: 100%;
  height: 100%;
}
.home {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1028px;
  top: 58px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.help {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1134px;
  top: 58px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle9 {
  position: absolute;
  left: 1221px;
  top: 49px;
  width: 94px;
  height: 48px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #ff79dfff 0%, #733ca4ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.logIn {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1233px;
  top: 58px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sMITLogo {
  position: absolute;
  left: 100px;
  top: 48px;
  width: 201px;
  height: 45px;
  background-image:/* webpackIgnore: true */ url('assets/sMITLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle13 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 1024px;
  background-color: #181818bf;
}
.rectangle12 {
  position: absolute;
  left: 345px;
  top: 262px;
  width: 750px;
  height: 500px;
  border-radius: 10px;
  background-color: #404040;
}
.rectangle14 {
  position: absolute;
  left: 370px;
  top: 287px;
  width: 700px;
  height: 450px;
  border-radius: 10px;
  background-color: #181818;
}
.rectangle19 {
  position: absolute;
  left: 370px;
  top: 287px;
  width: 700px;
  height: 450px;
  border-radius: 10px;
  background-color: #181818;
}
.rectangle16 {
  position: absolute;
  left: 470px;
  top: 478px;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ff79dfff 0%, #5326caff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.rectangle17 {
  position: absolute;
  left: 470px;
  top: 555px;
  width: 500px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ff79dfff 0%, #5326caff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.rectangle15 {
  position: absolute;
  left: 837px;
  top: 287px;
  width: 233.33px;
  height: 85px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #ff79dfff 0%, #5326caff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.student {
  background-image: linear-gradient(180deg, #ff79dfff 0%, #5326caff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 438px;
  top: 315px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.userId {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 480px;
  top: 451px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle18 {
  position: absolute;
  left: 690px;
  top: 618px;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  background-color: #733ca4;
}
.logIn2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 697px;
  top: 623px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.password {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 480px;
  top: 528px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.faculty {
  background-image: linear-gradient(180deg, #ff79dfff 0%, #5326caff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 674px;
  top: 315px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.admin {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 916px;
  top: 315px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
